
body{
  background: #3e3e3e;
}
header{
  text-align: center;
}
section{
  margin: 50px 0px;
}
li.resumelist{
  font-family: helvetica;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style-type: square;
  line-height: 125%;
  margin: 22px;
}
li.educationlist{
  font-family: helvetica;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style-type: square;
  line-height: normal;
  margin: 0px 0px 6px 22px;
}
.font1{
  font-family: helvetica;
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
}
.font2{
  font-family: helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #a1a1a1;
}
.font3{
  font-family: times;
  font-size: 18px;
  font-weight: normal;
  color: #a1a1a1;
}
ul.navli{
    padding: 10px;
    margin: 30px;
}
li.navli {
    display: inline;
    padding: 0px 10px 0px 10px;
}
footer{
  text-align: center;
  margin: 30px;
}
li+li.navli{
  border-left: 2px solid #a1a1a1;
}
img{
  float: right; padding: 6px; border: 2px solid #a1a1a1; margin: 0px 0px 20px 20px
}
hr {
 display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #a1a1a1;
     margin: 1em 0;
     padding: 0;
}
a{
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #66cdaa;
}
h3{
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #a1a1a1;
  letter-spacing: 5px
}
#div-one{
  max-width: 90%;
  border: 6px solid #a1a1a1;
  padding: 35px;
  margin: 25px;
}
#br-clearboth{
    clear: both;
}
#WendyGBite{
  text-align: center;
  font-size: 40px;
  color: White;
  font-style: italic;
}
#AboutMe{
  color: White;
  font-size: 26px;
  font-family: helvetica;
  font-weight: bold;
}
#resumelist{
  style: clear;
}
.BodyCopy{
  color: white;
  font-family: times;
  font-size: 20px;
  line-height: 125%
}
